<style>
      #countdown_time {
      display: none;
    }
    .countdown{
      position: relative;
      margin: 0 auto 12px auto;
    }
    .countdown>img{
      margin-left: 35px;
    }
    .countdown>div{
      display: flex;
      position: absolute;
      left: 68px;
      top: 25px;
    }
    .format_span_time{
      font-size: 30px;
      font-family: OpenSans-Bold, OpenSans;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 41px;
      text-shadow: 0px 2px 4px rgba(161,54,0,0.5);
      margin-right: 37px;
    }
    @media screen and (max-width: 1330px) {
      .countdown>img{
        margin-left: 0px;
      }
      .countdown>div{
        left:30px
      }
      .format_span_time{
        margin-right:38px
      }
    }
  @media screen and (max-width: 1050px){
      .countdown>div{
            left: 50%;
          transform: translateX(-50%);
          width: 310px;
      }
      .format_span_time{
        margin-right: 2%;
        margin-left: 10.1%;
      }
          .countdown img{
            margin:0 auto
          }
  }
</style>
<div class="countdown">
  <img
    src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/33_15198987-a909-440b-aa7a-b7515d8ad1b1.png?v=1678863132"
  >
  <div>
    <div class="format_span_time">
      <span class="days format_span t">00</span>
    </div>
    <div class="format_span_time">
      <span class="hour format_span t">00</span>
    </div>
    <div class="format_span_time">
      <span class="minute format_span t">00</span>
    </div>
    <div class="format_span_time">
      <span class="second format_span t">00</span>
    </div>
  </div>
</div>
<div id="countdown_time">{{ countdown_time }}</div>
<script>
  // var p_times = '2023-3-10 14:35:00';
  var p_times = $('#countdown_time').text();
  //获取元素
  var days  = document.querySelector(".days");
  var hour = document.querySelector(".hour");
  var minute = document.querySelector(".minute");
  var second = document.querySelector(".second");
  //获取截止时间的时间戳（单位毫秒）
  var inputTime = new Date(""+ p_times.replace(/-/g, "/"));
  //我们先调用countDown函数，可以避免在打开界面后停一秒后才开始倒计时
  countDown();
  //定时器 每隔一秒变化一次
  var timer_s = setInterval(countDown, 1000);
  function countDown() {
      //获取当前时间的时间戳（单位毫秒）
      var nowTime = +new Date();
      //把剩余时间毫秒数转化为秒
      var times = (inputTime - nowTime) / 1000;
      if (times > 0) {
         var d = Math.floor(times /60 / 60 / 24 );
      //计算小时数 转化为整数
      //如果小时数小于 10，要变成 0 + 数字的形式 赋值给盒子
      days.innerHTML = d < 10 ? "0" + d : d;
      var h = Math.floor(times /60 / 60 % 24 );
      //计算小时数 转化为整数
      //如果小时数小于 10，要变成 0 + 数字的形式 赋值给盒子
      hour.innerHTML = h < 10 ? "0" + h : h;
      //计算分钟数 转化为整数
      var m = parseInt(times / 60 % 60);
      //如果分钟数小于 10，要变成 0 + 数字的形式 赋值给盒子
      minute.innerHTML = m < 10 ? "0" + m : m;
      //计算描述 转化为整数
      var s = parseInt(times % 60);
      // //如果秒钟数小于 10，要变成 0 + 数字的形式 赋值给盒子
      second.innerHTML = s < 10 ? "0" + s : s;
      } else {
        clearInterval(timer_s);
      }
  }
</script>
