{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'fn-card-product' %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
    if limit != blank
      assign limit = limit
    else
      assign limit = 5
    endif
  -%}
<div class="card-wrapper">
  <div class="card fn-Prackageblog-product">
    <div class="fn-productLucky-head">
          {% render 'productLucky-addcart', product: card_product%}
    </div>
    <div class="fn-productLucky-head">
      <button type="text" name="add" id="campaign_conceal" class="t" disabled>Add It Now </button>
    </div>
 </div>
</div>
<div class="fn-Eventproducts-productssold">
    {% for product_a in card_product.variants %}
       <span id="fn-inventory_quantity">{{ product_a.inventory_quantity  }}</span> sold
    {% endfor %}
</div>
{%- endif -%}
<script>
$(function (){
  var fn_text = $('#fn-inventory_quantity').text();
  var fn_quantity =  {{ cart_inventory }} - fn_text;
  $("#fn-inventory_quantity").text(fn_quantity);
})
</script> 
