<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
    <title>删除</title>
    <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.8">
        <g id="下拉" transform="translate(-1066.000000, -312.000000)" fill="#999999" fill-rule="nonzero">
            <g id="删除" transform="translate(1066.000000, 312.000000)">
                <path d="M9.40188979,8.00067302 L15.7079966,14.3067753 C16.0948435,14.6936208 16.0962354,15.3210991 15.7079966,15.7093365 C15.3211304,16.0962012 14.6936497,16.0975738 14.3054108,15.7093365 L7.99934269,9.40325349 L1.69323589,15.7093171 C1.30636967,16.0961819 0.678908287,16.0975545 0.290650121,15.7093171 C-0.0961967597,15.3224524 -0.0975693798,14.6949934 0.290650121,14.3067367 L6.59812954,7.99931974 L0.292003408,1.69321742 C-0.0948434723,1.306372 -0.0962160924,0.678893647 0.292003408,0.290656279 C0.678888954,-0.0961891402 1.30635034,-0.0975810878 1.69458917,0.290656279 L8.00067664,6.59673927 L14.3067641,0.290656279 C14.6936303,-0.0961891402 15.321111,-0.0975810878 15.7093499,0.290656279 C16.0961968,0.677521032 16.0975694,1.30499938 15.7093499,1.69323675 L9.40187046,8.00067302 L9.40188979,8.00067302 Z" id="路径"/>
            </g>
        </g>
    </g>
</svg>