<div class="fn-my-account">
    <div class="t fn-my-account-title">Suggestion</div>
    <div class="fn-my-account-email">
        If you have any comments on us, you can send us an email
    </div>
    <div class="fn-my-account-emailImg">
        <img src="" alt=""> <span>Send Us an Email</span>
    </div>
    <div class="fn-my-account-text">
        Connect: support@htvront.com
    </div>
    <div class="fn-my-account-text">
        Operating time:
    </div>
    <div class="fn-my-account-text">
        8: 30—17: 30 (Monday to Friday)
    </div>
    <div class="fn-my-account-button">
        <a href="mailto:support@htvront.com">Send Email</a>
    </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
