<style>

</style>
<div class="fn-MemberPoints">
  <div class="t fn-my-account-title">My Member Points</div>
  <div>
    这里面存放插件
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
