
  <div class="fn-category-Posts">
    <div class="fn-Posts-blognav">
      <div class="fn-Posts-text">{{ section.settings.Posts_headline}}</div>
      <ul>
        {% for block in section.blocks %}
        <li class="fn-category-list">
          {% if block.settings.title != blank %}
          {% endif %}
          <a href="{{ block.settings.Posts_leftLink }}"><div class="Posts_headtitle t">{{ block.settings.Posts_headtitle }}</div></a>
          <div class="Posts_time">{{ block.settings.Posts_time }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% schema %}
  {
    "name": "category Posts",
    "settings": [
        {
            "type":"text",
            "id":"Posts_headline",
            "label":{
                "en":"headline",
                "zh-CN":"标题"
            }
        }
],
    "blocks":[
        {
            "type":"collection",
            "name":"Collection",
            "settings":[
        {
            "type":"text",
            "id":"Posts_headtitle",
            "label":{
                "en":"blog title",
                "zh-CN":"标题"
            }
        },
        {
            "type":"text",
            "id":"Posts_time",
            "label":{
                "en":"blog time",
                "zh-CN":"博客时间"
            }
        },
        {
            "type":"url",
            "id":"Posts_leftLink",
            "label":{
                "en":"blog links",
                "zh-CN":"博客链接"
            }
        }
            ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}