<style>
  .cup-join-buttons{
    width: 80px;
    height: 196px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding:10px 7px 17px 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    right: 0;
    top: 60%;
    z-index:10;
  }
  .cup-join-buttons>a{
    width: 66px;
    height: 66px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1), 0px 2px 4px 0px rgba(0,0,0,0.18);
    border-radius: 2px;
    cursor: pointer;
  }
  .cup-join-buttons>a:nth-child(2){
    margin-bottom:10px;
  }
  .cup-join-buttons>a>img{
    margin:0 auto;
    padding-top: 12px;
  }
  .cup-join-buttons>p{
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    letter-spacing: 0;    
    padding-bottom: 8px;
  }
  @media screen and (max-width:750px){
    .cup-join-buttons{
      width: 49px;
      height: 140px;
      left: 0;
      padding: 2px 5px 12px 4px;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    }
    .cup-join-buttons>a{
      width: 40px;
      height: 40px;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1), 0px 2px 4px 0px rgba(0,0,0,0.18);
    }
    .cup-join-buttons>a>img{
      width:28px;
      padding-top: 7px;
    }
    .cup-join-buttons>a:nth-child(2){
      margin-bottom:5px;
    }
    .cup-join-buttons>p{
      line-height:19px;
      padding-bottom: 3px;
    }
  }
</style>
<div class="cup-join-buttons">
  <p>Share on</p>
  <a href="{{ section.settings.twitter_link }}">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/f033e612808061679a85c612a60b7493.png?v=1690184280">
  </a>
  <a href="{{ section.settings.facebook_link }}">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/img_v2_330b376d-885a-42ab-a7b8-44a7491d07ag_1.png?v=1690184277">
  </a>
</div>
{% schema %}
  {
    "name": "Cup Join Button",
    "settings": [
      {
        "type":"url",
        "id":"twitter_link",
        "label":"Twitter Link"
      },{
        "type":"url",
        "id":"facebook_link",
        "label":"Facebook Link"
      }
    ],
    "presets":[
        {
          "name":"Cup Join Button"
        }
    ]
  }
{% endschema %}