<div class="fn-navigation-bar">
       <div class="fn-navigationbar_imges"><img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/122.png?v=1665045816" alt=""></div>
       <div class="fn-sidebar">
         <div class="fn-sidebar-list sidebar_active">
             <div class="fn-sidebar-column sidebar_active">
               <div class="fn-sidebar-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/5c1c18adb65c7850c0e95c123d529df6_6dc820af-ffbe-4fad-bc73-6272041e438a.png?v=1663039441" alt=""></div>
               <div class="fn-mobile-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/7_cc42bca2-7c2c-4d94-af9e-65110dc0534d.png?v=1663117430" alt=""></div>
               <div class="fn-sidebar-title">All Pattern</div>
               <div class="fn-sidebar-righticon"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/5c1c18adb65c7850c0e95c123d529df6_0f26e37e-86be-448c-b37a-5f77cd6ea4ab.png?v=1663048331" alt=""></div>
               <div class="fn-mobile-img fn-sidebar-righticon"><img src=" https://cdn.shopify.com/s/files/1/0356/5997/2741/files/8_93329e67-2d8b-48f3-bd01-56dcb8b12ac0.png?v=1663117430" alt=""></div>
             </div>
            <ul class="fn-sidebar-subnav">
                <li class="sidebar_active fn-sidebar-on">Voting</li>
                <li>Past Vote</li>
                <li>On Sale</li>
            </ul>
         </div>
         <div class="fn-sidebar-list">
             <div class="fn-sidebar-column">
               <div class="fn-sidebar-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/2_ab89fbbf-6e33-41ae-9420-821cace4f33f.png?v=1663039442" alt=""></div>
               <div class="fn-mobile-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/9_c730a258-7191-4d8a-b90b-131c7e3ac8ad.png?v=1663117430" alt=""></div>
               <div class="fn-sidebar-title">About Us</div>
             </div>
         </div>
         <div class="fn-sidebar-list">
             <div class="fn-sidebar-column">
               <div class="fn-sidebar-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/3_f66c677f-ce86-4bd8-a80b-d4fc05ba3f28.png?v=1663039442" alt=""></div>
               <div class="fn-mobile-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/10_0549a9dc-4cdd-4fce-87ac-bef6c255c08f.png?v=1663117430" alt=""></div>
               <div class="fn-sidebar-title">Rules</div>
             </div>
       </div>
         <div class="fn-sidebar-list">
             <div class="fn-sidebar-column">
               <div class="fn-sidebar-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/4_6a123353-e111-400b-bee6-ce9e255a4a52.png?v=1663039441" alt=""></div>
               <div class="fn-mobile-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/11_e66d4d59-9720-484d-9963-847c52a22335.png?v=1663117430" alt=""></div>
               <div class="fn-sidebar-title">FAQ</div>
             </div>
       </div>
         <div class="fn-sidebar-list fn-sidebar-vote">
             <div class="fn-sidebar-column">
               <div class="fn-sidebar-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/6_024d59b8-bbd4-4e9b-a2c0-0c3117311865.png?v=1663039442" alt=""></div>
               <div class="fn-mobile-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/13_6af80a66-6163-4d4a-98de-44535a228301.png?v=1663117430" alt=""></div>
               <div class="fn-sidebar-title">My Vote</div>
             </div>
       </div>
         <div class="fn-sidebar-list">
             <div class="fn-sidebar-column">
               <div class="fn-sidebar-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/5_b4f99f02-ca93-4b5a-b64a-7938b5e17ad0.png?v=1663039442" alt=""></div>
               <div class="fn-mobile-img"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/12_117830a1-c1f9-472e-a304-04757de131ca.png?v=1663117430" alt=""></div>
               
               <div class="fn-sidebar-title">Leave Message</div>
             </div>
       </div>
     </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}