<div class="fn-vote-message">
    <div class="fn-message-title t">Customer reviews</div>
    <div id="wc_store_review_page" class="wc_review_main_content" data-url="{{ shop.url }}" data-limit="0"></div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}