<style>
  .vedio-item{
    width:100%;
  }
  .vedio-item .ytp-large-play-button svg{
    display:none
  }
  .vedio-play-icon{
    border-style: solid;
    border-color: transparent;
    border-width: 50px 0 50px 50px;
    border-left-color: #F07330;
    display:none
  }
</style>
<div class="Fan-Prediction-Vedio">
  <div>
    <img class="fn-BlackFridaymask-img" src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/33c8d119574feab9f253f2f5a27adacf_a5a76ce8-4410-4e2e-97a5-fa002331aa18.png?v=1678179442" alt="">
    <div class="vedio-content">
      <div id="playerid_Auto" class="vedio-item"></div>
      <div class="vedio-play-icon"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://www.youtube.com/player_api"> </script>  
<script>
  var vedio_Obj;
  function onYouTubeIframeAPIReady() {
    vedio_Obj = new YT.Player('playerid_Auto', {
          videoId: 'cMYmwU3R1xY',
          events:{
            "onReady":onPlayerReady
          }
        }); 
  }
  function onPlayerReady(event) {
    console.log(vedio_Obj)
    // vedio_Obj.mute();
    // vedio_Obj.playVideo()
  }
</script>
{% schema %}
{
  "name": "fan-prediction-vedio",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
