<style>
  li {
    list-style: none;
  }
  .fans-hot-sale-luckydraw {
    margin-bottom: 50px;
  }
  .luckydraw-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb278;
    border: 3px solid #b86d14;
    border-radius: 10px;
  }
  .luckydraw-head {
    margin: 0 auto;
    background-color: #fc9a4e;
    max-width: 1440px;
    border: 3px solid #b86d14;
    padding: 15px 18px;
    border-radius: 10px;
    border-bottom: 15px solid #b86d14;
  }
  .bg-box {
    background-color: #ffe4d0;
    border: 3px solid #b86d14;
    padding: 13px 41px;
    border-radius: 10px;
  }
  .head-dot-left,
  .head-dot-right {
    display: flex;
  }
  .head-dot-left li,
  .head-dot-right li {
    width: 45px;
    height: 45px;
    background-color: #fff1bd;
    border: 8px solid #b86d14;
    border-radius: 45px;
  }
  .head-dot-left li {
    margin-right: 45px;
  }
  .head-dot-right {
    flex-flow: row-reverse;
  }
  .head-dot-right li {
    margin-left: 45px;
  }
  .luckydraw-headtext {
    margin: 10px 0;
    text-align: center;
  }
  .luckydraw-headtext .head {
    color: #7e3c00;
    font-weight: bold;
    font-size: 28px;
  }
  .luckydraw-headtext .second-head {
    color: #7e3c00;
    font-size: 18px;
  }
  .draw-content {
    max-width: 1382px;
    background-color: #fc9a4e;
    border: 3px solid #b86d14;
    border-radius: 4px;
    margin: 0 auto;
  }
  .draw-head {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
  }
  .draw-dot ul {
    display: flex;
  }
  .draw-dot ul li {
    width: 10px;
    height: 10px;
    background-color: #f1712a;
    border: 3px solid #b86d14;
    border-radius: 12px;
    margin: 2px;
  }
  .draw-message {
    background-color: #ffe4d0;
    margin: 10px 40px;
    border: 3px solid #b86d14;
    border-radius: 18px;
  }
  .prize-content {
    background-color: #d45924;
    border: 4px solid #9b5400;
    border-radius: 40px;
    margin: 26px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .prize-content ul {
    display: flex;
  }
  .prize-content ul li {
    background-color: #ffdabe;
    border: 3px solid #b86d14;
    border-radius: 18px;
    max-width: 400px;
    margin: 0 10px 18px;
  }

  .prize-content ul:first-of-type li {
    margin-top: 18px;
  }
  .prize-content ul li div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .submit-content {
    max-width: 1382px;
    background-color: #ffc99f;
    border: 3px solid #b86d14;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    border-top: none;
    /* box-shadow: 0 40px #b86d14; */
  }
  .submit-text {
    color: #7e3c00;
    font-weight: bold;
    font-size: 22px;
    padding: 25px 0 15px;
  }
  .submit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .draw-input {
    height: 70px;
    border: 2px solid #9b5400;
    padding-left: 27px;
    min-width: 641px;
    border-radius: 6px;
    background: #ffb57c;
    color: #7e3c00;
    font-size: 16px;
    margin-right: 20px;
  }
  .join-draw {
    background-color: #cb5700;
    border: 2px solid #9b5400;
    border-radius: 2px;
    color: #ffe4a4;
    font-size: 18px;
    font-weight: bold;
    padding: 17px 50px;
    cursor: pointer;
  }
  .rules-content {
    max-width: 1382px;
    background-color: #e9863c;
    border: 3px solid #b86d14;
    border-radius: 18px;
    margin: 0 auto;
    text-align: center;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rules-box {
    color: #ffe1cb;
    text-align: left;
    width: 80%;
    padding: 20px 40px 40px;
  }
  .rules-title {
    font-size: 18px;
    font-weight: bold;
  }
  .rules-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .rules-text .text {
    font-size: 16px;
    width: 50%;
  }
  .rules-text .text1 {
    padding-right: 20px;
  }
  .rules-img {
    padding-right: 67px;
    width: 20%;
  }
</style>
<div class="fans-hot-sale-luckydraw">
  <div class="luckydraw-content">
    <div class="luckydraw-head">
      <div class="bg-box">
        <div class="luckydraw-box">
          <ul class="head-dot-left">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="luckydraw-headtext">
            <p class="head">Lucky Draw</p>
            <p class="second-head">Enter the order number to join the draw</p>
          </div>
          <ul class="head-dot-right">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="draw-content">
      <div class="draw-message">
        <div class="draw-head">
          <div class="draw-dot">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="draw-swiper"></div>
          <div class="draw-dot">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="prize-content">
          <ul>
            <li>
              <div class="img-box">
                <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20230206-110213_2.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="img-box">
                <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20230206-110213_2.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="img-box">
                <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20230206-110213_2.jpg" alt="">
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div class="img-box">
                <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20230206-110213_2.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="img-box">
                <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20230206-110213_2.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="img-box">
                <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20230206-110213_2.jpg" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="submit-content">
      <p class="submit-text">Shopping the Best, Win the Gift</p>
      <div class="submit-box">
        <input class="draw-input" type="text" placeholder="Enter the order number">
        <div class="join-draw" id="join_draw">
          <span class="join-draw-text">Lottery</span>
        </div>
      </div>
    </div>
    <div class="rules-content">
      <div class="rules-box">
        <p class="rules-title">Rules:</p>
        <div class="rules-text">
          <div class="text text1">
            <ul>
              <li>1. You can use the order number to join the draw 10 minutes later after placing the order;</li>
              <li>2. Any orders placed during the promotion are eligible for the draw;</li>
              <li>3. One order, one chance.</li>
              <li>4. Prizes: Free Auto Heat Press/ Random $10 Vinyl/ $10 OFF $69 Coupon(Materials only)</li>
            </ul>
          </div>
          <div class="text">
            <ul>
              <li>
                5. Redemption: - All the prizes will be sent in code. Please screenshot the code info promptly once you
                win the prize. - Copy the prize code, click "Redeem Now" to claim your prize, or add the corresponding
                product to your cart for later redemption. - Validity: Before 31st March, 2024
              </li>
              <li>6. Lucky Draw Date: 18th - 31st March, 2024</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="rules-img">
        <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/rules.jpg" alt="">
      </div>
    </div>
  </div>
</div>
