<div clsa="fn-Commission">
  <div class="fn-Website-heder">
    <h3 class="fn-Website-title">Partners Commission</h3>
    <p>We support up to 15% commission for the efforts you make. We welcome partners with various channels to cooperate with us, especially KOL in Facebook\Instagram\Pinterest\Tiktok\Youtube\blog,etc.</p>
    <p>We are happy yo accept traffic from most sources including PPc ads.</p>
  </div>
  <div class="fn-Commission-main">
    <div class="fn-main-items">
      <div><img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/1180cf092a9e7e1b81b02ffdffefa6ff_9e387323-9a09-4c05-9ab4-1aedc7738760.png?v=1656571627" alt=""></div>
      <div class="fn-main-tele">
          <p class="t">Influencer Cooperation Email: </p>
          <p><a href="mailto:branding@htvront.com" target="_top">branding@htvront.com</a></p>
      </div>
    </div>
    <div class="fn-main-items">
      <div><img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/b84630a378d76748308920737c479c10_472c790d-9112-43cf-ad49-8ca348eb5009.png?v=1656571627" alt=""></div>
      <div class="fn-main-tele">
          <p class="t">Media Cooperation Email: </p>
          <p><a href="mailto:pr@htront.com" target="_top">pr@htvront.com</a></p>
      </div>
    </div>
  </div>
  <div class="fn-commission-footer">
    <div><span class="t">Company: </span> Siki Eagle Sarl</div>
    <div><span class="t">Address: </span> 1, Esplanade Miriam Makeba, 69100 Villeurbanne, France</div>
  </div>
</div>

