<style>
  .fn-Website-main{
    justify-content: flex-start;
  }
  .online-from-link{
    width: 120px;
    height: 36px;
    background: #FF7606;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF !important;
    line-height: 36px !important;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
    text-decoration: none !important;
  }
</style>
<div class="fn-Website">
  <div class="fn-Website-heder">
    <h3 class="fn-Website-title">HTVRONT Website</h3>
    <p>
      Hello there! Thank you for choosing htvront .com as your handmade supplier! HTVRONT is here to help you! We are happy to answer questions.
    </p>
    <p>
      You can also visit our <a href="https://www.htvront.com/pages/faq" class="fn-Secion-link">FAQ Secion </a> and contact us if you don’t find an answer. Thanks!
    </p>
  </div>
  <div class="fn-Website-main">
    <!--
      <div class="fn-main-list">
        <div><img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/phone.png?v=1656560823" alt=""></div>
        <div class="fn-main-tele">
          <div class="fn-main-title">
            <p class="t">Tele:</p>
            <p>(281)745-4072</p>
          </div>
          <div>
            <p class="t">Available time:</p>
            <p>Monday - Friday 7:00 PM - 4:00 AM CST</p>
          </div>
        </div>
      </div>
    -->
    <div class="fn-main-list">
      <div><img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/mail.png?v=1656560823" alt=""></div>
      <div class="fn-main-tele">
        <div class="t">Email:</div>
        <div style="margin-bottom: 8px;"><a href="mailto:support@htvront.com">support@htvront.com</a></div>
        <div class="fn-Shopping">
          <div>Use the form below to reach us by email.</div>
          <!-- <div class="fn-main-button">Online Form</div> -->
          <a href="https://1896994.s5.udesk.cn/ticket_sdk/feedback.html?form=2&language=en-us" target="_blank" class="online-from-link">Online Form</a>
        </div>
        <div class="fn-choose-products">
          <div>Thank you for your email.</div>
          <div class="fn-products-button"><a href="https://www.htvront.com/">Return to Shopping</a></div>
        </div>
      </div>
    </div>
    <div class="fn-main-list" style="flex-direction: column; padding-left: 10%;">
      <p>Online Live Chat:</p>   
      <p>Monday - Friday</p>
      <p>9:00AM - 12:00AM 14:00PM-18:00PM GMT+8</p>
    </div>
    <!-- <div class="fn-main-list">
        <div><img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/message.png?v=1656560823" alt=""></div>
        <div class="fn-main-tele">
          <div>Live Chat</div>
          <div class="fn-main-button">Start Chat</div>
        </div>
    </div>
      -->
  </div>
</div>
