<style>
  .mid-year-time{
      letter-spacing: 0;
/*       background-color: #FFCD67; */
      padding-top: 50px;
      background: url('https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/11_29da1789-430a-4c60-941c-dd6e784d1293.png?v=1687660970') no-repeat;
     background-size: 100% 100%;
    padding-bottom: 20px;
  }
  .mid-year-time .countdown {
    position: relative;
  }
  .mid-year-time .mid-year-time-content{
    position: absolute;
    display: flex;
    left: 50%;
    top: 27%;
    transform: translateX(-50%);
    align-items: end;
    width: max-content;
  }
  .mid-year-time .mid-year-time-desc{
    font-weight: bold;
    color: #914408;
    line-height: 41px;
    font-size:30px;
    margin-right:50px
  }
  .mid-year-time .timer-count {
    display: flex;
    align-items: center
  }
  .mid-year-time .format_span_time {
    position: relative;
    font-size: 36px;
    font-weight: 600;
    color: #914408;   
    text-align: center; 
    background: linear-gradient(180deg, #FFFBE8 0%, #FFF0A9 100%);
    box-shadow: 0px 2px 4px 0px #C35A00;
    border-radius: 4px;
    overflow: hidden;
  }
  .mid-year-time .format_span_time>div{
    width: 77px;
    height: 67px;  
/*     line-height: 67px; */
    box-shadow: inset -3px 5px 7px 0px #FAC958;
    border-radius: 4px;
    border: 4px solid;
    border-image: linear-gradient(180deg, rgba(255, 255, 245, 1), rgba(255, 254, 231, 1)) 4 4;
  }
  .mid-year-time .timer-count > div {
    position: relative;   
  }
  .mid-year-time .timer-text {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #914408;
    left: 50%;
    transform: translateX(-50%);
    bottom: -17px;
    line-height: 0;
  }
 .mid-year-time .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #914408;
  }
  .mid-year-time .timer-count p {
    margin-left: 14px;
    margin-right: 14px;
  }
  .mid-year-time .timer-count p + p {
    margin-top: 10px;
  }
  .mid-year-time .deal-timer-desc {
    font-size: 16px;
    color: #ff4042;
    line-height: 22px;
    text-align: center;
  }
  .mid-year-time .countdown img {
    margin: 0 auto;
  }
  #countdown_time{
    display:none
  }
  @media screen and (max-width: 1440px){
    .mid-year-time .countdown{
      width:65%;
      margin:0 auto
    }
  }
  @media screen and (max-width: 1330px){
    .mid-year-time .format_span_time>div{
        width: 63px;
        height: 53px;
        line-height: 50px;
    }
    .mid-year-time .format_span_time{
      font-size:30px
    }
    .mid-year-time .timer-text{
      font-size:16px
    }
    .mid-year-time .mid-year-time-desc{
      font-size:26px
    }
  }
  @media screen and (max-width: 1024px){
    .mid-year-time .countdown{
      width:80%
    }
     .mid-year-time .mid-year-time-content{
      top: 30%;
    }
    .mid-year-time .format_span_time>div{
      width: 50px;
      height: 44px;
      line-height: 40px;
    }
    .mid-year-time .format_span_time{
      font-size:26px
    }
    .mid-year-time .timer-text{
      font-size:14px
    }
    .mid-year-time .mid-year-time-desc{
      font-size:24px
    }
    .mid-year-time .timer-count p{
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  @media screen and (max-width: 750px){
    .mid-year-time{
      padding-top:19px;
      background: linear-gradient(180deg, #F19002 0%, #FEE692 100%);
    }
    .mid-year-time .format_span_time{
      font-size:24px
    }
    .mid-year-time .mid-year-time-desc{
      font-size:20px;
      margin:0 0 11px 0
    }
    .mid-year-time .mid-year-time-content{
      display:block;
      text-align:center;
      top: 20%;
    }
    .mid-year-time .countdown{
      width:96%
    }
    .mid-year-time{
      padding-bottom:0
    }
  }
  @media screen and (max-width: 415px){
    .mid-year-time .mid-year-time-content{
      top: 14%;
    }
  }
  @media screen and (max-width: 400px){
    .mid-year-time .mid-year-time-content{
      top: 10%;
    }
  }
</style>
<div class="mid-year-time">
        <div class="deal-timer-countdown">
        <div class="countdown">
          <picture>
            <source media="(max-width: 750px)" srcset="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/6_2x_9443c7eb-49ee-4355-afa8-6928909d19d7.png?v=1687686734" />
            <source media="(min-width: 751px)" srcset="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/26_82ee1112-d26a-4a79-8831-682c2c70f344.png?v=1687326410" />
            <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/26_82ee1112-d26a-4a79-8831-682c2c70f344.png?v=1687326410" />
          </picture>
          <div class="mid-year-time-content">
            <div class="mid-year-time-desc">{{ section.settings.desc_text }}</div>
            <div class="timer-count">
            <div class="time-box">
              <div class="format_span_time">
                <div>
                <span id="days" class="days format_span t">00</span>
                </div>
              </div>
              <span class="timer-text">DAYS</span>
            </div>
            
            <div>
              <p class="dot"></p>
              <p class="dot"></p>
            </div>
            <div class="time-box">
              <div class="format_span_time">
                <div>
                  <span id='hour' class="hour format_span t">00</span>
                </div>       
              </div>
              <span class="timer-text">HOURS</span>
            </div>
            <div>
              <p class="dot"></p>
              <p class="dot"></p>
            </div>
            <div class="time-box">
              <div class="format_span_time">
                <div>
                <span id='minute' class="minute format_span t">00</span>
                </div>
              </div>
              <span class="timer-text">MINS</span>
            </div>
            <div>
              <p class="dot"></p>
              <p class="dot"></p>
            </div>
            <div class="time-box">
              <div class="format_span_time">
                <div>
                <span id='second' class="second format_span t">00</span>
                </div>
               </div>
              <span class="timer-text">SECS</span>
            </div>
            
          </div>
          </div>
          
        </div>
        <div id="countdown_time">{{ section.settings.countdown_time }}</div>
      </div>
</div>
<script>
  // var p_times = '2023-3-10 14:35:00';
  var p_times = $('#countdown_time').text();
  //获取元素
  var days  = $("#days")[0];
  var hour = $("#hour")[0];
  var minute = $("#minute")[0];
  var second = $("#second")[0];
  //获取截止时间的时间戳（单位毫秒）
  var inputTime = new Date(""+ p_times.replace(/-/g, "/"));
  //我们先调用countDown函数，可以避免在打开界面后停一秒后才开始倒计时
  countDown();
  //定时器 每隔一秒变化一次
  var timer_s = setInterval(countDown, 1000);
  function countDown() {
      //获取当前时间的时间戳（单位毫秒）
      var nowTime = +new Date();
      //把剩余时间毫秒数转化为秒
      var times = (inputTime - nowTime) / 1000;
      if (times > 0) {
         var d = Math.floor(times /60 / 60 / 24 );
      //计算小时数 转化为整数
      //如果小时数小于 10，要变成 0 + 数字的形式 赋值给盒子
      days.innerHTML = d < 10 ? "0" + d : d;
      var h = Math.floor(times /60 / 60 % 24 );
      //计算小时数 转化为整数
      //如果小时数小于 10，要变成 0 + 数字的形式 赋值给盒子
      hour.innerHTML = h < 10 ? "0" + h : h;
      //计算分钟数 转化为整数
      var m = parseInt(times / 60 % 60);
      //如果分钟数小于 10，要变成 0 + 数字的形式 赋值给盒子
      minute.innerHTML = m < 10 ? "0" + m : m;
      //计算描述 转化为整数
      var s = parseInt(times % 60);
      // //如果秒钟数小于 10，要变成 0 + 数字的形式 赋值给盒子
      second.innerHTML = s < 10 ? "0" + s : s;
      } else {
        clearInterval(timer_s);
      }
  }
</script>
{% schema %}
  {
    "name": "Mid Year Time",
    "settings": [{
            "type":"text",
            "id":"desc_text",
            "label":"desc"
        },{
            "type":"text",
            "id":"countdown_time",
            "label":"text"
        }],
     "presets": [
        {
          "name": "Mid Year Time"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}