<div class="item-row">
    <div class="item">
        <img class="brightSpot_image" src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/2022-04-07_10.58.30.png?v=1649395774" alt="">
    </div>
    <div class="item">
        <h3>Smart Heat Press</h3>
        <p>As the easiest machine on the existing market with zero push,it's simple to set and start with only one button. You don' t need to worry about pressure settings because it can auto adjust to materials up to 2.5" thick.</p>
    </div>
</div>
<div class="item-row">
    <div class="item">
        <img class="brightSpot_image" src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/2022-04-07_10.58.30_3.png?v=1649395774" alt="">
    </div>
    <div class="item">
        <h3>Safety Use</h3>
        <p>Separate heating and placing area plus thermal insulation materials avoid
            accidental burns. It will turn off automatically after 10 minutes of inactivity
            with the auto- off feature and certifed by UL.</p>
    </div>
</div>
<div class="item-row">
    <div class="item">
        <img class="brightSpot_image" src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/2022-04-07_10.58.30_1.png?v=1649395774" alt="">
    </div>
    <div class="item">
        <h3>Wide Application & Lightweight</h3>
        <p>The 15" x 15" heat plate has the perfect size for creating t-shirts and many projects of all sizes. It's convenient to carry and place everywhere,combineing with the lightest weight(32 pounds) on market up to now and a small volume.</p>
    </div>
</div>
<div class="item-row">
    <div class="item">
        <img class="brightSpot_image" src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/2022-04-07_10.58.30_4.png?v=1649395774" alt="">
    </div>
    <div class="item">
        <h3>Fast & Evenly Heating</h3>
        <p>The frst-industry heating engine inside provides even heat edge-to - edge.Meanwhile,it only takes approximately 4 mins,almost twice faster than regular machines, to heat from room temperature to 410*F (210'C).Fantastic energy saver!</p>
    </div>
</div>
<div class="item-row">
    <div class="item">
        <img class="brightSpot_image" src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/2022-04-07_10.58.30_2.png?v=1649395774" alt="">
    </div>
    <div class="item">
        <h3>Various Modes Setting</h3>
        <p>Including 4 fast modes(compatible with HTVRONT materials) and 2 user-defined modes, it  improves the efficiency to at least 300% within same time.By clicking the“ auto”button, the continuous iron mode can help you create projects in batches.</p>
    </div>
</div>
{% schema %}
  {
  "name": "brightSpot_one",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "图片"
    },

     {
      "id": "text-box",
      "type": "text",
      "label": "Heading"
     },
     {
      "id": "text",
      "type": "richtext",
      "label": "Highlight the content"
     }
	],
"blocks": [
  ],
  "max_blocks": 4
  }
{% endschema %}
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
