<div class="life_nav">
    <div class="Life_headline">Easy Life Maker</div>
    <div class="Life_content">
        <div class="Life_body">
            <div>Write A Review To Win Auto Heat Press Machine</div>
            <div> <a id="life_a" href="#FanSection_form"></a> Whose review with the most likes will get a free auto heat press machine</div>
          <div>Time: June 15th to July 30th</div>
        </div>
<!--         <div class="Life_body">
            <div>Win Free Heat Press</div>
            <div> In the comment section below, write your guessed price. The 1st person who guess the price right will win it for free!</div>
        </div> -->
    </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
