<div class="qrj-banner">
  <picture>
    <source media="(max-width: 750px)" srcset="//htvront.myshopify.com/cdn/shop/files/Rectangle_73_2x_d1587de5-8a97-4b8e-92ce-7437c30665f1_750x.png">
    <source media="(min-width: 751px)" srcset="//cdn.shopify.com/s/files/1/0356/5997/2741/files/banner-pc_e8aae475-ffea-432a-9204-407a3b6f85f0_1920x.png">
    <img src="//cdn.shopify.com/s/files/1/0356/5997/2741/files/banner-pc_e8aae475-ffea-432a-9204-407a3b6f85f0_1920x.png">
  </picture>
</div>
{% schema %}
{
  "name": "QRJ-Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_pc",
      "label": "PC端banner"
    },
    {
      "type": "image_picker",
      "id": "banner_mb",
      "label": "移动端banner"
    }
  ]
}
{% endschema %}
