<style>
    .swiper-wrapper-draw .swiper-slide {
        width: auto;
        margin-left: 50px !important;
    }
    .draw-swiper-slide{
        font-size: 16px;
        font-weight: 400;
        color: #C22A4C;
        line-height: 59px;
    }
    .qrj-gift{
        background-image:url('https://www.htvront.com/cdn/shop/files/Slice_4_1920x.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        {% if section.settings.background_color != blank %}
            background:{{section.settings.background_color}};
        {% endif %}
        padding-bottom:35px;
    }
    .gift-content{
        width:1600px;
        margin:0 auto;
    }
    .gift-content .butterfly{
        margin:0 auto;
    }
    .gift-content-title{
        width: 100%;
        height: 146px;
        background: #F8849E;
        border-radius: 10px;
        margin-top: -6%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gift-content-title>.title{
        margin: 0;
        font-size: 36px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 42px;
    }
    .gift-content-title>.s-title{
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 28px;
        margin-top:10px;
    }
    .draw-main{
        width:100%;
        padding:0 22px;
    }
    .draw-content{
        background: #FFC7D0;
        overflow: hidden;
        border-radius: 0 0 10px 10px;
        position: relative;
        padding-bottom: 28px;
    }
    .draw-container-out{
        background: linear-gradient(180deg, #FF7A90 0%, #FFB0C1 100%);
        box-shadow: 0px 5px 9px 0px rgba(199,92,116,0.8);
        border-radius: 73px;
        width:94%;
        margin:20px auto 40px;
        height: 69px;
        position: relative;
    }
    .draw-container-in{
        background: linear-gradient(0deg, #FF879A 0%, #FFBAC9 100%);
        height: 59px;
        border-radius: 73px;
        overflow: hidden;
        position: absolute;
        width: calc(100% - 10px);
        top: 5px;
        left: 5px;
    }
    .freegift-box{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .draw-content>img{
        position: absolute;
        bottom: 28px;
        right: 18px;
    }
    .draw-rules .rules{
        display:flex;
    }
    .draw-rules .rules>div:nth-child(1){
        display:flex;
        align-items: flex-start;
    }
    .draw-rules .rules>div:nth-child(1)>span{
        height: 33px;
        font-size: 24px;
        font-weight: bold;
        color: #71132E;
        line-height: 28px;
        padding-left: 12px;
    }
    .draw-box{
        position: relative;
        z-index: 2;
        width: calc(100% - 660px);
    }
    .draw-rules li{
        font-size: 16px;
        font-weight: 400;
        color: #71132E;
        line-height: 26px;
        position: relative;
        padding:0 0 5px 20px;
        margin-top: 10px;
    }
    .draw-rules li:before{
        content:'';
        width: 8px;
        height: 8px;
        background: #DC537A;
        border-radius:50%;
        position:absolute;
        top: 10px;
        left: 5px;
    }
    .draw-rules>p{
        font-size: 18px;
        font-weight: 600;
        color: #71132E;
        line-height: 26px;
    }
    .draw-rules>ul{
        padding: 10px 0;
    }
    .draw-from{
        display:flex;
        margin-top: 30px;
    }
    .draw-input{
        width: 60%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #FF8EA7;
        background: none;
        padding-left: 10px;
        font-size: 20px;
        color: #FF7F9C;
    }
    .draw-input::placeholder{
      color: #FF7F9C;
    }
    .join-draw{
        width: 127px;
        height: 50px;
        background: linear-gradient(270deg, #FF7D9A 0%, #FF8EA7 100%);
        border-radius: 4px;
        line-height: 50px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin-left:12px;
        cursor: pointer;
    }
    .draw-tips{
        display:none;
    }
    .draw-gifts{
        min-width:645px;
    }

    .loading-svg .spinner{
        height: 40px;
        margin-top: 5px;
    }

    .draw-body-mask{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        z-index: 999;
        display: none;
    }
    .draw-dialog{
        width:820px;
        height:787px;
        background-color:#FFD5DE;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: fixed;
        z-index: 1000;
        display:none;
        padding:36px 0 66px 0;
    }
    .tips-dialog{
        width:820px;
        height:362px;
        background-color:#FFD5DE;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: fixed;
        z-index: 1000;
        display:none;
        padding:36px 0 66px 0;
    }
    .icon-draw-close{
        position: absolute;
        right: 25px;
        top: 20px;
        cursor: pointer;
    }
    .draw-dialog .win-title p{
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        color:#71132E;
    }
    .win-message{
        font-size: 18px;
        text-align:center;
        padding: 10px 20px;
        color:#71132E;
    }
    .win-message>span{
        font-weight:bold;
    }
    .win-code{
        text-align:center;
        padding-bottom: 20px;
        color:#71132E;
    }
    .win-code>img{
        display:inline-block;
        cursor:pointer;
    }
    .productTips,.codeTips{
        font-size:18px;
        line-height: 24px;
        padding: 0 50px 0 90px;
        margin-top: 20px;
        display:none;
        color:#71132E;
    }
    .prize-drawn,.no-qualification,.try-later,.no-draw{
        display:none;
        color: #71132E;
    }
    .productTips>p:nth-of-type(1){
        color:#71132E;
    }
    .draw-img-url{
        margin: 0 auto;
        padding:0 20px;
    }
    .win-button,.turn_url,.bundle-close{
        width: 234px;
        height: 60px;
        background: linear-gradient(270deg, #FF7D9A 0%, #FF8EA7 100%);
        border-radius: 10px;
        text-align:center;
        line-height:60px;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        outline: none;
        border: none;
        margin: 0 auto;
        display: none;
        cursor: pointer;
    }
    .prize-drawn>div:nth-child(1){
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
    }
    .prize-drawn>p:nth-child(2){
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
    }
    .tips-dialog .win-button{
        margin-top:45px;
    }
    .no-qualification,.try-later,.no-draw{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 35px;
        margin-top: 30px;
    }
    .prize-drawn{
        margin-top:20px;
    }
    .draw-dialog .win-button,.draw-dialog .turn_url,.draw-dialog .bundle-close{
        margin-top:30px;
        color: #fff;
    }
  .rules-arrow{
    display:none;
  }
    @media screen and (max-width: 1440px){
        .gift-content .butterfly{
            width:600px;
        }
        .draw-gifts {
            width: 45%;
            min-width: 1px;
        }
        .draw-box {
            width: auto;
        }
    }
    @media screen and (max-width: 1024px){
        .tips-dialog,.draw-dialog{
            border-radius: 20px;
            width: 80%;
            height: auto;
        }
        .gift-content .butterfly{
            width: 410px;
        }
        .freegift-box{
            flex-direction: column-reverse;
        }
        .draw-content>img{
            display:none;
        }
        .draw-content{
            padding: 10px 0 10px;
        }
        .draw-box{
            padding:0 10px;
        }
        .draw-gifts{
            min-width:100%;
        }
        .draw-gifts>img{
            margin:0 auto;
        }
        .join-draw{
            width: 127px;
            height: 44px;
            border-radius: 4px;
            line-height: 44px;
            font-size: 14px;
            margin-left: 8px;
        }
        .draw-input{
            width: calc(100% - 135px);
            height: 44px;
            font-size: 14px;
        }

        .loading-svg .spinner{
            height: 35px;
            margin-top: 5px;
        }
    }
    @media screen and (max-width: 820px){
        .qrj-gift{
            {% if section.settings.background_color_mobile != blank %}
                background:{{section.settings.background_color_mobile}}
            {% else %}
                background:none;
            {% endif %}
        }
        .subscribe-form .newsletter-form__field-wrapper .field__input {
           width: 100%;
        }
    }
    @media screen and (max-width: 750px){
        .gift-content-title{
            height: 68px;
            margin-top: -25px;
        }
        .gift-content-title>.title{
            font-size: 16px;
            line-height: 19px;
        }
        .gift-content-title>.s-title{
            font-size: 14px;
            line-height: 16px;
        }
        .draw-main{
            padding: 0;
            margin-top: -10px;
        }
        .draw-container-out{
            height: 59px;
            margin: 10px auto 20px;
            width: 96%;
        }
        .draw-container-in{
            height: 51px;
            top: 4px;
        }
        .draw-swiper-slide{
            line-height: 51px;
            font-size: 14px;
        }
        .gift-content .butterfly {
            width: 220px;
        }
        .draw-rules .rules>div:nth-child(1)>span{
            height: 28px;
            font-size: 16px;
            padding-left: 5px;
        }
        .draw-rules li:before{
            content: '';
            width: 5px;
            height: 5px;
            top: 6px;
        }
        .draw-rules li,.draw-rules>p{
            font-size: 14px;
            line-height: 16px;
        }
    }
    @media screen and (max-width: 480px){
        .icon-draw-close{
            right: 15px;
            top: 15px;
            width: 25px;
        }
        .prize-drawn {
            margin-top: 10px;
        }
        .prize-drawn>div:nth-child(1) {
            font-size: 16px;
            line-height: 25px;
            padding: 0 20px;
        }
        .prize-drawn>p:nth-child(2) {
            font-size: 14px;
        }
        .no-qualification,.try-later,.no-draw {
            font-size: 16px;
            line-height: 24px;
        }
        .draw-dialog .win-title p {
            font-size: 16px;
        }
        .win-message{
            font-size:14px;
        }
        .productTips, .codeTips {
            font-size: 14px;
        }
        .win-button, .turn_url, .bundle-close{
            font-size: 14px;
            width: 160px;
            height: 40px;
            line-height: 40px;
        }
        .tips-dialog, .draw-dialog, .dialog-ul{
            padding: 20px 0 30px;
        }
        .draw-dialog .win-button, .draw-dialog .turn_url, .draw-dialog .bundle-close {
            margin-top: 20px;
        }
      .draw-rules .rules{
        justify-content: space-between;
      }
      .rules-arrow{
        display:block;
      }
      .draw-rules>ul,.draw-rules>p{
        display:none;
      }
      .draw-from{
        margin-top: 10px;
      }
      .draw-box{
        width:100%;
      }
    }
</style>
<div class="qrj-gift" id="{{ section.settings.id }}">
  <div class="gift-content qrj-ethan-width">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_287.png" class="butterfly">
    <div class="gift-content-title">
      <p class="title">Valentine's Free Gift</p>
      <p class="s-title">Buy Things You Like, Get A Free Gift</p>
    </div>
    <div class="draw-main">
      <div class="draw-content">
        <div class="draw-container-out">
          <div class="draw-container-in">
            <div class="draw-swiper">
              <div class="swiper-wrapper swiper-wrapper-draw">
                {% for block in section.blocks %}
                  {% if block.type == 'scroll_text' %}
                    <div class="swiper-slide draw-swiper-slide">{{ block.settings.text }}</div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="freegift-box">
          <div class="draw-gifts">
            <img src="https://www.htvront.com/cdn/shop/files/Group_288_643x.png">
          </div>
          <div class="draw-box">
            <div class="draw-rules">
              <div class="rules">
                <div>
                  <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20240123-140547.png">
                  <span>Rules:</span>
                </div>
                <div class="rules-arrow">
                  <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/8391cf862d505403f766b57f0221c1c7_87a1fc91-c391-4c69-8d9f-704859e2986e.png">
                  <img
                    style="display:none"
                    src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/1_e383c3e7-ee06-4668-9041-87548ac01362.png"
                  >
                </div>
              </div>
              123
            </div>
            <div class="draw-from">
              <input class="draw-input" type="text" placeholder="Enter the order number">
              <div class="join-draw" id="join_draw">
                <span class="join-draw-text">Receive</span>
              </div>
              <div class="join-draw" id="loading_draw" style="display:none">
                <div class="loading-svg">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>
            </div>
            <div class="draw-tips" style="color:red">*Please enter the order number.</div>
          </div>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_289.png">
      </div>
    </div>
  </div>
</div>
<div class="draw-dialog" id="win-product">
  <img
    class="icon-draw-close close-btn"
    src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/a016b412f93b877a827866a90379da25_bdb00f39-8c50-49b2-9c37-32dca531ef89.png"
  >
  <div class="win-title">
    <p>Congratulations</p>
  </div>
  <div class="win-message">You've just hit the jackpot - <span id="winAwardsEnglishName"></span> is yours now！</div>
  <div class="win-code">
    code:
    <span id="winTicketCode"></span>
    <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_18.png?v=1698810268" id="copy-click">
  </div>
  <div>
    <img src="" class="draw-img-url">
  </div>
  <div class="productTips">
    <p>- Please take a screenshot to save your winning information.</p>
    <p>
      - Copy the prize code, then click "Redeem Now" to claim your prize, or add the corresponding product to your cart
      for redemption.
    </p>
  </div>
  <div class="codeTips">
    <p>- Please screenshot the code info promptly.</p>
    <p>- The code is only available in a new order.</p>
    <p>- The gift will be shipped with the new order.</p>
    <p>- Code Validity: Before 29 Feb 2024.</p>
  </div>
  <a class="turn_url" target="_blank" href="javascript:;">Redeem Now</a>
  <a class="bundle-close close-btn">Got it</a>
</div>
<div class="tips-dialog" id="tips">
  <img
    class="icon-draw-close close-btn"
    src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/a016b412f93b877a827866a90379da25_bdb00f39-8c50-49b2-9c37-32dca531ef89.png?v=1706083253"
  >
  <div class="prize-drawn">
    <div>
      <p>Sorry !</p>
      <p>This order has already joined the draw</p>
    </div>
    <p>One order, one chance</p>
  </div>
  <div class="no-qualification">
    <p>Please use the order,</p>
    <p>including Valentine's promotional products,</p>
    <p>to join the draw</p>
  </div>
  <div class="try-later">
    <p>Please do not draw consecutively.</p>
    <p>Please try again later.</p>
  </div>
  <div class="no-draw">
    <p>There are no raffle prizes available at the site.</p>
  </div>
  <button class="win-button bundle-close close-btn">Got it</button>
</div>
<div class="draw-body-mask"></div>

<script>
  $('.rules-arrow>img').click(function () {
    $(this).hide().siblings().show();
    $('.draw-rules>ul,.draw-rules>p').toggle();
  });
  getDrawList();
  function getDrawList() {
    $.ajax({
      url: 'https://qn.htvront.com/valentine/getDrawList',
      method: 'GET',
      success: function (data) {
        var arr = data.data;
        if (arr != null) {
          for (let i = 0; i < arr.length; i++) {
            var div =
              '<div class="swiper-slide draw-swiper-slide">' +
              arr[i].winEmail +
              ' won a ' +
              arr[i].winAwardsEnglishName +
              '</div>';
            $('.swiper-wrapper-draw').append(div);
          }
        }
      },
      error: function (xhr, status, error) {},
    });
  }
  $(function () {
    var mySwiper_d = new Swiper('.draw-swiper', {
      speed: 1500,
      loop: true,
      simulateTouch: false,
      noSwiping: true,
      allowTouchMove: false,
      slidesPerView: 'auto',
      autoplay: true,
    });
    $('#join_draw').on('click', function () {
      var inputVal = $('.draw-input').val();
      if (inputVal.trim() == '') {
        $('.draw-tips').show();
        return false;
      } else {
        $('.draw-tips').hide();
      }
      var data = { market: 'US_HTVRONT(shopify)', orderNo: inputVal };
      var jsonData = JSON.stringify(data);
      $('#join_draw').hide();
      $('#loading_draw').show();
      $.ajax({
        url: 'https://qn.htvront.com/valentine/lottery',
        method: 'POST',
        data: jsonData,
        contentType: 'application/json',
        success: function (res) {
          $('#join_draw').show();
          $('#loading_draw').hide();
          $('.draw-body-mask').css('display', 'block');
          $('body').css({ overflow: 'hidden' });
          if (res.code == 20003) {
            $('.tips-dialog,.prize-drawn').show();
            $('.win-button.bundle-close').show().css('cursor', 'pointer');
          } else if (res.code == 20002) {
            $('.tips-dialog,.no-qualification').show();
            $('.win-button.bundle-close').show().css('cursor', 'pointer');
          } else if (res.code == 20004) {
            $('.tips-dialog,.no-draw').show();
            $('.win-button.bundle-close').show().css('cursor', 'pointer');
          } else if (res.code == 200 && res.data) {
            var arr2 = [res.data];
            for (let j = 0; j < arr2.length; j++) {
              $('.draw-dialog').css('display', 'block');
              $('#winAwardsEnglishName').text(arr2[j].winAwardsEnglishName);
              $('#winTicketCode').text(arr2[j].winTicketCode);
              $('.draw-img-url').attr('src', arr2[j].awardsImgPath);
              if (arr2[j].turnUrl != null && arr2[j].turnUrl != '') {
                $('.productTips').show();
                $('.turn_url').attr('href', arr2[j].turnUrl).show().css('cursor', 'pointer');
              } else {
                $('.codeTips').show();
                $('.bundle-close').show().css('cursor', 'pointer');
              }
            }
          } else {
            $('.tips-dialog,.try-later').show();
            $('.win-button.bundle-close').show().css('cursor', 'pointer');
          }
        },
        error: function (xhr, status, error) {
          $('#join_draw').show();
          $('#loading_draw').hide();
          console.log(xhr, status, error);
        },
      });
    });
    $('.close-btn').on('click', function () {
      $(
        '.draw-dialog,.tips-dialog,.prize-drawn,.no-qualification,.try-later,.no-draw,.draw-body-mask,.productTips,.codeTips,.turn_url,.bundle-close'
      ).hide();
      $('.draw-input').val('');
      $('body').css({ overflow: 'auto' });
    });
    $('#copy-click').on('click', function () {
      let url = $('#winTicketCode').text();
      let copyInput = document.createElement('input');
      document.body.appendChild(copyInput);
      copyInput.setAttribute('value', url);
      copyInput.select();
      document.execCommand('Copy');
      copyInput.remove();
      alertMsg();
    });
    function alertMsg() {
      var alertFram = document.createElement('DIV');
      alertFram.id = 'alertFram';
      alertFram.style.position = 'fixed';
      alertFram.style.width = '100%';
      alertFram.style.textAlign = 'center';
      alertFram.style.bottom = '40px';
      alertFram.style.zIndex = '10001';
      strHtml =
        ' <span style="font-family: 微软雅黑;display:inline-block;background:#333;color:#fff;padding:0 20px;line-height:36px;border-radius:6px; ">Copied successfully</span>';
      alertFram.innerHTML = strHtml;
      document.body.appendChild(alertFram);
      setTimeout(function () {
        alertFram.style.display = 'none';
      }, 2000);
    }
  });
</script>
{% schema %}
{
  "name": "QRJ-Gift",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "id(页面唯一性，全英文)"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "background color(PC)"
    },
    {
      "type": "color",
      "id": "background_color_mobile",
      "label": "background color(mobile)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "background image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "大标题"
    },
    {
      "type": "text",
      "id": "s_title",
      "label": "小标题"
    },
    {
      "type": "html",
      "id": "draw_rules",
      "label": "抽奖规则"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "奖品示意图"
    }
  ],
  "blocks": [
    {
      "type": "scroll_text",
      "name": "抽奖人员和信息",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "抽奖人员和信息"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "QRJ-Gift"
    }
  ]
}
{% endschema %}
