<style>
    .wc_review_main_content div,
    .wc_review_main_content p,
    .wc_review_main_content h1,
    .wc_review_main_content h2,
    .wc_review_main_content h3,
    .wc_review_main_content h4,
    .wc_review_main_content h5,
    .wc_review_main_content h6,
    .wc_review_main_content li,
    .wc_review_main_content input,
    .wc_review_main_content select,
    .wc_review_btn {
        font-family: "Open Sans", sans-serif !important;
    }
    .wc_graph_value .wc_graph_bar_color,
    .wc_icon_color svg path, .review_rating_section svg path,
    .wc_icon_color svg {
        opacity: 1 !important;
    }
    .wc_review_top_title {
        padding-bottom: 40px !important;
    }
    .wc_icon_color svg path, .review_rating_section svg path, .wc_icon_color svg,
    .wc_icon_color svg path, .review_rating_section svg path, .wc_icon_color svg {
        fill: #FFEE92 !important;
    }
    .wc_graph_value .wc_graph_bar_color {
        background-color: #FFEE92 !important;
    }
    .wc_review_btn {
        background-color: #ff7606 !important;
        border-radius: 12px;
    }
    .wc_review_listing_select select.wc_select_drop  {
        background: #0675FF !important;
        border-radius: 12px;
    }
    .wc_review_app_paginate ul li.wc_active_page a {
        color: #fff;
        font-weight: bold;
        cursor: no-drop;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        background: #ff7606;
    }
    .wc_grid_details_section .wc_grid_author_name {
        padding-bottom: 6px;
    }
    .wc_grid_review_content {
        padding: 0;
    }
    .wc_graph_per_count .wc_graph_bar_persent,
    .wc_graph_per_count .wc_graph_review_count {
        line-height: 26px;
        font-weight: 400;
    }
    h6.wc_review_author_name {
        font-size: 18px !important;
        font-weight: 400;
        color: #333 !important;
        line-height: 1;
    }
    h4.wc_review_boby_title {
        font-size: 18px !important;
        padding: 0 !important;
        margin: 0 !important;
        line-height: 1;
        color: #333 !important;
        margin-top: 20px !important;
    }
    .wc_review_content .wc_review_text p, .wc_review_text p {
        font-size: 14px !important;
        font-weight: 400;
        margin-top: 20px;
        line-height: 24px;
        color: #333 !important;
    }
    .wc_review_content .wc_review_text h4 {
        font-size: 18px !important;
        font-weight: bold;
    }
    .wc_review_list_section.wc_listlayout_2 h6.wc_review_author_name {
        font-size: 14px !important;
        font-weight: 400;
        width: 204px;
        color: #333333 !important;
        word-break: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .wc_review_app_paginate ul li a svg {
        width: 9px;
    }
    .wc_review_listing_select select.wc_select_drop option{
        background: #fff;
        color: #333;
    }
    .wc_graph_value .wc_graph_bar {
        border-radius: 10px;
    }
    .wc_graph_value .wc_graph_bar_color {
        border-radius: 10px;
    }
    .wc_review_app_paginate ul li a svg path {
        fill: #333 !important;
    }
    @media screen and (min-width: 1024px) {
        .wc_review_count p {
            font-size: 20px;
            font-weight: 400;
        }
        .wc_review_main_content .wc_review_count {
            position: absolute;
            left: 0;
            top: 0;
        }
        .wc_review_app_paginate ul li a {
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }
        .wc_review_btn {
            margin: 0 0 20px 0;
        }
        .wc_review_main_content .wc_review_form_btns {
            width: 23%;
            display: table-cell;
            padding: 15px 0 0 0px;
        }
        .wc_graph_value .wc_graph_bar_color,
        .wc_icon_color svg path, .review_rating_section svg path, .wc_icon_color svg {
            opacity: 0.7;
        }
        .wc_graph_per_count .wc_graph_review_count,
        .wc_graph_per_count .wc_graph_bar_persent {
            font-size: 20px;
        }
        .wc_rating_filter em.wc_icon_color svg {
            width: 32px !important;
            height: 30px;
        }
        .wc_graph_value .wc_graph_bar {
            width: 256px;
            height: 26px;
        }
        .wc_graph_value .wc_graph_bar_color {
            height: 26px;
        }
        .wc_review_main_content .wc_review_graph li + li{
            padding-top: 9px !important;
        }
        .wc_review_layout_section {
            padding: 30px 0 20px 0;
        }
        .wc_tab_content {
            padding-top: 0;
        }
        .wc_review_graph li {
            padding-bottom: 0 !important;
        }
        .wc_review_top_title {
            padding-bottom: 15px;
        }
        .wc_average_review_stars.wc_wf_cls {
            display: none;
        }
        .wc_overall_review {
            padding: 35px 0 0 0;
            border: none;
        }
        .wc_review_main_content .wc_review_graph {
            width: 100%;
            padding: 0 10px 0 0 !important;
        }
        .wc_review_top_title.wc_wf_cls h2{
            font-size: 24px;
            font-family: Open Sans;
            font-weight: bold;
        }
        .wc_page + .wc_page {
            margin-left: 20px !important;
        }
        .wc_review_app_paginate ul li.wc_active_page a {
            font-size: 18px;
            font-weight: bold;
            width: 40px;
            height: 40px;
            line-height: 38px;
            background: #ff7606;
        }
        li.wc_active {
            display: none;
        }
        .wc_review_form_btns ul {
            display: flex;
            flex-flow: column;
        }
        .wc_review_btn {
            width: auto;
            background-color: #ff7606 !important;
            height: 60px;
        }
        .wc_review_listing_select select.wc_select_drop,
        .wc_review_form_btns ul li a {
            font-size: 24px !important;
            font-weight: bold;
            width: 385px;
        }
        .wc_review_listing_select .wc_select_drop_arrow {
            position: absolute;
            top: 50%;
            left: auto;
            right: 20px;
        }
    }
    @media (max-width: 481px) {
        .wc_review_list_section.wc_listlayout_2 h6.wc_review_author_name {
            word-wrap: break-word;
            display: block;
            width: 225px;
        }
    }
</style>
<div class="footer__content-top fn-page-width">
  <div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" data-limit="0"></div>
</div>
{% schema %}
{
"name": "Rivyo_Review",
"settings": [],
"presets":[
{
"name":"Rivyo_Review",
"category":"Rivyo_Review"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
