.all-content {
position: relative;
margin: 0 auto;
width: 100%;
overflow: hidden;
}

.mySwiper2 .swiper-slide {
width: 100%;
height: 800px;
}

.mySwiper {
position: absolute;
width: 960px;
margin-left: -480px;
left: 50%;
bottom: 85px;
overflow: initial;
}

.thumbnail-wrapper {
display : flex;
justify-content: center;
}

.mySwiper .swiper-slide {
margin: 0 5px;
width: 245px !important;
height:100px;
border: 2px solid transparent;
border-radius: 8px;
overflow: hidden;
cursor: pointer;
}

.mySwiper .swiper-slide img{
border-radius: 8px;
}

.mySwiper .swiper-slide.selectImg {
z-index: 1;
padding:3px;
transform: scale(1.22);
border: 2px solid #fff;
}

.swiper-slide>div,
.swiper-slide>img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.mark-icon {
cursor: pointer;
}

/* {% comment %} .mark-icon:after {
content:"";
position:absolute;
top: -50px;
left: -36px;
width: 100px;
height: 50px;
background-image: url("https://cdn.shopify.com/s/files/1/0356/5997/2741/files/5.gif?v=1657931354");
background-size: 100%;
background-repeat: no-repeat;
} {% endcomment %} */


@keyframes mymove
{
0%  {transform:translateY(-4px)}
50%  {transform:translateY(4px)}
100% {transform:translateY(-4px)}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
0%  {transform:translateY(-4px)}
50%  {transform:translateY(4px)}
100% {transform:translateY(-4px)}
}

.event-dialog-container {
display: none;
z-index: 3;
position: fixed;
left: 50%;
max-height: 90%;
min-height: 240px;
right: 0;
top: 50%!important;
transform: translate(-50%,-50%);
padding: 25px 20px;
width: 830px;
background: #fff;
border-radius: 20px;
outline: 0;
overflow-x: hidden;
overflow-y: auto;
}

.event-dialog-background {
display: none;
z-index: 3;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,.5);
}

.event-dialog-head {
display: flex;
justify-content: space-between;
align-items: center; 
margin-bottom: 20px;
line-height: 20px;
}

.event-dialog-head .b {
fill: #000;
}

.event-dialog-title {
font-size: 24px;
font-weight: bold;
}

.event-dialog-close {
cursor: pointer;
}

.event-dialog-close svg {
width: 18px;
height: 18px;
}

.event-dialog-each {
display:none;
position: relative;
width: 100%;
height: 100%;
}

.event-dialog-container.show,.event-dialog-each.show,.event-dialog-background.show {
display: block;
}

.prompt-content {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.prompt-content>.prompt-text {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 30px;
}

.prompt-content>.prompt-icon {
  position: relative;
  margin: auto;
  width: 19px;
  animation:mymove 1s infinite;
  -webkit-animation:mymove 1s infinite; 
}

@media (max-width:850px) {
.all-content {
padding: 10px 15px;
}
.event-dialog-container {
max-width: 95%;
padding: 15px 12px;
}
.mySwiper2 .swiper-slide {
height: 230px;
border-radius: 5px;
overflow: hidden; 
}
.mySwiper {
position: relative;
width: 100%;
margin: 10px 0 0 0;
left: 0;
bottom: 0;
}
.mySwiper .swiper-slide img {
border-radius: 5px;
}
.mySwiper .swiper-slide {
margin: 0;
width: 32% !important;
height: 60px;
border: 0;
}
.thumbnail-wrapper {
display: flex;
justify-content: space-between;
}
.mySwiper .swiper-slide.selectImg {
z-index: 0;
padding: 0;
transform: scale(1);
border: 0;
box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.4700);
}
.prompt-content {
  display: none;
}
}