<style>
  .fn-helpCenter-text {
    display: flex;
  }
.fn-helpCenter {
    max-width: 1600px;
    margin: 0 auto;
}
nav.fn-breadcrumb.fn-helpCenter-text {
    margin: 40px 0 30px 0;
    line-height: 1px;
    font-size: 16px;
}
  .fn-Center-search {
    text-align: -webkit-center;
    height: 270px;
    background: #FFE7D4;
    border-radius: 16px;
    padding-top: 80px;
  }
/*   li.fn-list-on {
} */
  .fn-list-on box {
     
   }
  .fn-search-title {
    height: 28px;
    font-size: 28px;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  input.fn-Center-input {
    border: 0;
    width: 75%;
    font-size: 16px;
  }
  .fn-searchInpu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 425px;
    height: 50px;
    padding: 0 12px;
    border-radius: 8px;
  }
  .fn-search-button {
    width: 92px;
    font-size: 18px;
    color: #FFFFFF;
    height: 34px;
    background: #FF7606;
    border-radius: 8px;
    cursor: pointer;
  }
  .fn-classify-title {
    height: 24px;
    font-size: 24px;
    color: rgba(51, 51, 51, 0.9);
    line-height: 24px;
    margin-bottom: 36px;
    font-weight: bold;
  }
    .fn-shop-title {
    margin-bottom: 20px
  }
  .fn-questions-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .fn-questions-list a {
    display: inline-block;
  }
  .fn-questions-list li {
    width: 30%;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 22px;
    cursor: pointer;
  }
  img.center-img {
    display: inline-block;
  }
  .fn-Center-questions.classify {
    margin-top: 70px;
  }
  .fn-Center-HTVRONT {
    margin: 44px 0 70px 0;
  }
  .fn-htvront-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .fn-classify-img {
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }
  .fn-classify-img img{
    width: 100%;
  }

  .fn-list-image {
    display: flex;
    font-size: 20px;
    color: #333333;
    padding-top: 5px;
    font-weight: 600;
/*     margin-bottom: 8px; */
  }
  .fn-list-on .box {
    height: 18px;
    font-size: 18px;
    color: #333333;
    line-height: 18px;
    padding-left: 60px;
    cursor: pointer;
  }
    .fn-list-on .box + .box {
    margin-top: 20px;
  }
  .fn-Center-ContactUs {
    margin: 70px 0;
  }
  .fn-contactUs-list {
    display: flex;
    flex-wrap: wrap;
  }

  .fn-contactUs-list li:nth-child(2) {
    margin-left: 140px;
  }
  .fn-list-title {
    height: 20px;
    font-size: 20px;
    color: #333333;
    line-height: 20px;
    margin-left: 6px;
    font-weight: 600;
  }
  .fn-contactUs-list li div + div {
    height: 18px;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    line-height: 18px;
    margin-top: 14px;
  }
  .buttonIist {
    background: #FF7606;
    border-radius: 4px;
  }
  .fn-button-Email.buttonIist {
    width: 135px;
    height: 42px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 42px;
    text-align: center;
  }
  .fn-button-Consult.buttonIist {
    width: 182px;
    height: 42px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 42px;
    text-align: center;
    margin-top: 45px;
  }
  
  
  @media screen and (min-width: 1250px) and (max-width: 1620px) {
  }
  @media screen and (min-width: 992px) and (max-width: 1249px) {
    .fn-helpCenter {
      margin: 0 15px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px){
    .fn-helpCenter {
      margin: 0 15px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px){
    .fn-helpCenter {
      margin: 0 15px;
    }
    .fn-questions-list li {
      width: 100%;
    }
    .fn-contactUs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .fn-contactUs-list li:nth-child(2) {
      margin-top: 26px;
      margin-left: 0;
    }
  }
  @media screen and (max-width: 480px){
    .fn-helpCenter {
      margin: 0 15px;
    }
    .fn-questions-list li {
      width: 100%;
    }
    .fn-searchInpu {
      width: 85%;
      height: 40px;
    }
    .fn-search-button {
      font-size: 16px;
      line-height: 30px;
    }
    .fn-search-title {
      font-size: 24px;
    }
    .fn-Center-questions.classify {
      margin-top: 50px;
    }
    .fn-Center-HTVRONT {
      margin: 24px 0 50px 0;
    }
    .fn-Center-ContactUs {
      margin: 50px 0;
    }
    .fn-contactUs-list li:nth-child(2) {
      margin-top: 26px;
      margin-left: 0;
    }
    .us-Email {
          margin-top: 40px;
    }
  }
</style>
<div class="fn-helpCenter">
  <nav class="fn-breadcrumb fn-helpCenter-text" role="navigation" aria-label="breadcrumbs"><a href="/" title="Back to the frontpage" class="home_text">Home</a><span style="margin: 0 3px;" aria-hidden="true" class="breadcrumb__sep">›</span><span style="font-weight: bold;">Help Center</span></nav>
{% section 'account-Center' %}
{% section 'account-Center-questions' %}
{% section 'account-Center-HTVRONT' %}
{% section 'account-Center-ContactUs' %}
</div>
