<style>
  .blog-stories{
    width:100%;
    background:#F8F8F8;
    padding-top:60px;
    padding-bottom:80px
  }
  .blog-stories-title{
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    line-height: 49px;
    text-align:center;
    margin-bottom:30px
  }
  .blog-stories-content{
    width:83.33%;
    margin:0 auto;
  }
  .stories-layout{
    display:flex;
    align-items: center;
    justify-content:space-between;
  }
  .blog-stories-items{
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .blog-stories-item{
    width: 32.5%;
    margin-right: 1.25%;
    margin-bottom:20px
  }
  .blog-stories-item img{
    width:100%
  }
  .blog-stories-item:nth-child(3n){
    margin-right:0;
  }
  .stories-describe{
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    padding:19px 20px 22px 20px
  }
  .stories-describe a:nth-child(1){
    width:calc(100% - 185px)
  }
  .stories-reader{
    width: 169px;
    height: 40px;
    background: #242424;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 40px;
    text-align:center;
    cursor: pointer;
  }
  .stories-article-title{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    line-height: 24px;
    margin-bottom:6px;
    cursor: pointer;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .stories-article-desc{
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    cursor: pointer;
  }
  .pagination__item--current{
    background:#242424
  }
  @media screen and (max-width: 1440px) {
    .stories-reader{
      width: 121px;
      height: 30px;
      line-height: 30px;
      border-radius:4px
    }
    .stories-describe a:nth-child(1){
      width:calc(100% - 137px)
    }
  }
   @media screen and (max-width: 1240px) {
    .stories-describe{
      display:block
    }
    .stories-describe a:nth-child(1){
       width:100%
     }
    .stories-reader{
      margin-top: 5px;
    }
     .stories-article-title{
       font-size:16px;
       line-height: 19px;
       height:19px;
       margin-bottom:0
     }
  }
  @media screen and (max-width: 768px){
    .blog-stories-content{
      width:93.6%;
    }
    .stories-describe{
      padding:7px 9px 10px 9px
    }
  }
  @media screen and (max-width: 750px){
    .blog-stories{
      padding-top:20px;
      padding-bottom:30px
    }
    .blog-stories-title{
      font-size:18px;
      line-height:24px;
      margin-bottom:10px
    }
    .blog-stories-item{
      width: 49%;
      margin-right: 1.9%;
      margin-bottom:10px
    }
    .blog-stories-item:nth-child(3n){
      margin-right: 1.9%;
    }
    .blog-stories-item:nth-child(2n){
      margin-right: 0
    }
    .stories-article-title{
      font-size:14px;
    }
    .stories-article-desc{
      font-size:12px;
      line-height:17px;
      margin-top:3px
    }
    .blog-stories .pagination__list>li{
      max-width: 3.4rem !important;
    }
    .blog-stories .pagination__item--current{
      width: 30px !important;
      height: 30px !important;
    }
  }
</style>
<div class="blog-stories">
  {% section 'blog-stories' %}
</div>
