{{ 'BlackFriday-official.css' | asset_url | stylesheet_tag }}
  {% section 'BlackFriday-banner-official' %}
  {% section 'BlackFriday-Nav-Official' %}
  {% section 'BlackFriday-AD-Official' %}
  <div class="BlackFriday-main">
    {% section 'BlackFriday-Time-Official' %}
    {% section 'BlackFriday-Machine-Official' %}
    {% section 'BlackFriday-Product-Official' %}
    {% section 'BlackFriday-Free-Official' %}
    {% section 'BlackFriday-Draw-Official' %}
    {% section 'BlackFriday-Deposit-Official' %}
  </div>
  {% section 'BlackFriday-Share-Official' %}
  {% section 'mask-module' %}
