{{ 'Easter-activities.css' | asset_url | stylesheet_tag }}
<div class="Easter-activities">
    {% section 'Easter-activities-banner' %}
    <div class="Easter-activities-body">
      {% section 'Easter-activities-sale' %}
      {% section 'Easter-activities-Bundle' %}
      {% section 'Easter-activities-collection' %}
    </div>
</div>

