{{ 'brand-channel.css' | asset_url | stylesheet_tag }}
<div class="fn-channel">
  {% section 'fn-channel-banner' %}
  {% section 'fn-channel-main' %}
  {% section 'fn-channel-sellingnetwork' %}
  {% section 'fn-channel-swiper' %}
  {% section 'fn-channel-partner' %}
  {% section 'video' %}
</div>
