{{ 'BlackFriday-2023.css' | asset_url | stylesheet_tag }}
  {% section 'BlackFriday-banner-2023' %}
  {% section 'BlackFriday-Nav-2023' %}
  <div class="BlackFriday-main">
    {% section 'BlackFriday-Time-2023' %}
    {% section 'BlackFriday-Deposit-2023' %}
    {% section 'BlackFriday-Machine-2023' %}
    {% section 'BlackFriday-LuckyBox-2023' %}
    {% section 'BlackFriday-Product-2023' %}
   {% section 'BlackFriday-Draw-2023' %}
  </div>
  {% section 'BlackFriday-Share-2023' %}