{{ 'wholesale.css' | asset_url | stylesheet_tag }}
<div class="fn-wholesale">
 {% section 'wholesale-banner' %}
  <div class="fn-attention">
  <div class="t fn-attention-title">Please Note:</div>
  <ul class="fn-attention-list">
    <li>The submission of this inquiry does not guarantee your status as an Authorized HTVRONT Dealer</li>
    <li>We require a $5000 minimum opening order</li>
    <li>Contact email: <a href="mailto:pr@htront.com">b2b@htvront.com</a></li>
  </ul>
   <div class="fn-attention-text">Please fill out the form below to apply for a wholesale account. We will be in touch with you shortly(within 3 working days).</div>
</div>
   {% section 'wholesale-form' %}
</div>
