{{ 'qrjtext.css' | asset_url | stylesheet_tag }}
<div class="qrj-ethan">
  {% section 'qrj-banner' %}
  {% section 'qrj-loved-machine' %}
  {% section 'qrj-products' %}
  {% section 'qrj-materials' %}
  {% section 'qrj-gift' %}
  {% section 'qrj-subscribe' %}
  section
</div>
