<style>
 .valentines-day{
   background-color:#FFD9E1;
   letter-spacing:0;
 }
  @media screen and (max-width: 1660px){
    .valentinesday-width{
      width:83.3% !important;
    }
  }
   @media screen and (max-width: 820px){
     .valentinesday-width{
      width:93.6% !important;
    }
     .valentines-day{
        background: linear-gradient(180deg, #FFD2DC 0%, #FFE7EC 100%);
     }
   }
</style>
<div class="valentines-day">
  {% section 'valentinesday-nav-2024' %}
  {% section 'marketing-banner' %}
  {% section 'BlackFriday-Share-2023' %}
  {% section 'valentinesday-machine-2024' %}
  {% section 'valentinesday-product-2024' %}
  {% section 'valentinesday-materials-2024' %}
  {% section 'valentinesday-freegift-2024' %}
  {% section 'valentinesday-subscribe-2024' %}
  {% section 'valentinesday-note-2024' %}
  {% comment %} {% section 'valentines-mask-module' %} {% endcomment %}
</div>