{{ 'cup-hot-main.css' | asset_url | stylesheet_tag }}
<div class="Cup-Hot-Main">
  <div>
    {% section 'Cup-hot-ticket' %}
    {% section 'Cup-lucky-box' %}
    <div class="cup-hot-machine">
      {% section 'Alert-video' %}
      {% section 'Cup-Selling-Point' %}
      {% section 'Cup-Creativity' %}
      {% section 'Cup-Crafters' %}
    </div>
  </div>
</div>
