<div class="super-shopping">
    {% section 'Swiper-Banner' %}
    <div class="Super-caption">
      {% section 'Super-Shopping-Time' %}
      {% section 'Super-Shopping-Share' %}
      {% section 'Super-Shopping-Coupon' %}
      {% section 'Super-Heat-Press' %}
      {% section 'Super-Shopping-Bundles' %}
      {% section 'Super-Shopping-Product' %}
    </div>
    {% section 'Super-Shopping-Nav' %}
</div>