{{ 'Newyear.css' | asset_url | stylesheet_tag }}
<div class="fn-Newyear">
 {% section 'Newyear-banner' %}
 {% section 'Newyear-save' %}
 {% section 'Newyear-gift' %}
 {% section 'Newyear-product-one' %}
 {% section 'Newyear-product-two' %}
 {% section 'Newyear-product-three' %}
</div>