{{ 'Fan-Prediction.css' | asset_url | stylesheet_tag }}
<div class="Fan-Prediction">
    {% section 'fan-prediction-banner' %}
    <div class="Fan-Prediction-Body">
      {% section 'fan-prediction-countdown' %}
      {% section 'fan-prediction-coupon' %}
      {% section 'fan-prediction-vedio' %} 
      {% section 'fan-prediction-enroll' %}
    </div>
      {% section 'fan-prediction-gift' %}
</div>